.link {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: var(--theme-color);
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.5px;
    bottom: 0;
    left: 0;
    background-color: var(--theme-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover,
  &:focus {
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  &:focus {
    outline: none;
  }
}
