.loader {
  color: var(--theme-color);
  fill: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 90vh;
  svg {
    height: 10rem;
    width: 10rem;
  }
}
