.about {
  margin: 15rem 0;
  .title {
    font-family: var(--raleway);
    color: var(--lightest-slate);
    position: relative;
    h2 {
      margin-bottom: 2rem;
      font-size: var(--tx2large);
      font-weight: 700;
      &::before {
        counter-increment: title;
        content: "0" counter(title) ".";
        margin-right: 0.5rem;
        color: var(--theme-color);
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        width: 300px;
        height: 2px;
        margin-left: 220px;
        background-color: var(--lightest-navy);
      }
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1rem;
    &-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &-text {
        color: var(--slate);
        margin-right: 10%;
        font-size: var(--tlarge);
        letter-spacing: 0.07rem;
        line-height: 1.6rem;
        font-weight: 500;
        font-family: var(--raleway);
      }
      &-list {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        list-style-type: none;
        padding: 0 3rem;
        &-item {
          font-family: var(--raleway);
          line-height: 1.6rem;
          font-weight: 500;
          font-size: var(--tbase);
          color: var(--slate);
          position: relative;
          &::before {
            content: "▹";
            position: absolute;
            left: -20px;
            top: 6px;
            color: var(--theme-color);
            line-height: 12px;
          }
        }
      }
    }
    &-photo {
      position: relative;
      width: max-content;
      height: max-content;
      &:hover {
        .overlay {
          background-color: #00000000;
        }
        .overlay-border {
          top: 0.5rem;
          left: 0.5rem;
        }
        img {
          filter: none;
        }
      }
      .overlay {
        transition: 0.3s ease-in-out;
        z-index: 1;
        position: absolute;
        height: 350px;
        width: 350px;
        background-color: #9d00ff4d;
        border-radius: 0.2rem;
      }
      .overlay-border {
        z-index: -3;
        height: 100%;
        width: 100%;
        position: absolute;
        border: 2px solid var(--theme-color);
        top: 1rem;
        left: 1rem;
        border-radius: 0.2rem;
        transition: 0.3s ease-in-out;
      }
      &-container {
        position: relative;
        height: 350px;
        width: 350px;
        object-fit: cover;
        img {
          z-index: 0;
          filter: grayscale(100%);
          transition: 0.3s ease-in-out;
          border-radius: 0.2rem;
        }
      }
    }
  }
  @media screen and (max-width: 1080px) {
    margin: 5rem 0;
    &-grid {
      &-photo {
        .overlay {
          height: 223px;
          width: 223px;
        }
        &-container {
          height: 223px;
          width: 223px;
        }
      }
      &-info {
        &-list {
          grid-template-columns: 1fr;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    margin: 5rem auto;
    .title {
      h2 {
        &::after {
          width: 200px;
        }
      }
    }
    &-grid {
      &-photo {
        margin-top: 3rem;
        .overlay {
          height: 300px;
          width: 300px;
        }
        &-container {
          height: 300px;
          width: 300px;
        }
      }
      &-info {
        &-text {
          margin-right: 0;
        }
      }
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 480px) {
    .title {
      h2 {
        &::after {
          width: 100px;
        }
      }
    }
    &-grid {
      &-photo {
        .overlay {
          height: 223px;
          width: 223px;
        }
        &-container {
          height: 223px;
          width: 223px;
        }
      }
    }
  }
}
