nav {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  align-items: center;
  padding: 0 4rem;
  .brand {
    color: var(--theme-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-items {
    display: flex;
    gap: 3em;
    color: var(--lightest-slate);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: 13px;
    &-list {
      display: flex;
      gap: 3rem;
      list-style-type: none;
      &-item {
        a {
          text-decoration: none;
          color: inherit;
        }
        &:hover {
          color: var(--theme-color);
        }
      }
    }
  }
}
