nav {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  align-items: center;
  padding: 0 4rem;
  .brand {
    color: var(--theme-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    fill: none;
    margin: 2rem 0;
    cursor: pointer;
    &:hover {
      fill: #64fad91a;
    }
  }
  .nav-items {
    display: flex;
    gap: 3em;
    color: var(--lightest-slate);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: 13px;
    &-list {
      display: flex;
      gap: 3rem;
      list-style-type: none;
      &-item {
        a {
          outline: 2px dashed transparent;
          padding: 10px;
          text-decoration: none;
          color: inherit;
          transition: 0.3s ease-in-out;
        }
        a:focus {
          outline-color: var(--theme-color);
        }
        &:hover {
          color: var(--theme-color);
        }
      }
    }
  }
}
