:root {
  --tsm: 13px;
  --tsm1: 14px;
  --tsm2: 15px;
  --tbase: 16px;
  --tlarge: 18px;
  --tlarge2: 22px;
  --txlarge: 25px;
  --tx2large: 32px;
  --tgiant: clamp(40px, 8vw, 80px);
  @media screen and (max-width: 480px) {
    --tx2large: 25px;
    // --tgiant: 40px;
  }
}
