:root {
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --background-color: #0a192f;
  --lightest-navy: #233554;
  --light-navy: #112240;
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #ccd6f6;
  --lightest-slate: #a8b2d1;
  --theme-color: #9d00ff;
}

::-moz-selection {
  color: white;
  background: var(--theme-color);
}

::selection {
  color: white;
  background: var(--theme-color);
}

html,
body {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--background-color);
  counter-reset: title;
}

main {
  transition: 0.3s ease-in-out;
}

.blur {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-slate) var(--background-color);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--background-color);
  border-radius: 10px;
}
